*{
    font-family: 'Edu NSW ACT Foundation', cursive;
}

body{
    background-color: blanchedalmond;
}

.card{
    background-color: rgba(186, 132, 56, 0.78);
}

#container{
    width: 80%;
}

h1{
    font-family: 'Alkatra', cursive;
}

p{
    font-size: 1.5rem;
}